---
import Dashboard from "../../../layouts/Dashboard.astro";

const resp = await fetch('http://localhost:3000/api/categories');
const categories = await resp.json();
---

<Dashboard title="Categories">
    <div class="space-y-6"></div>
</Dashboard>