---
const { question } = Astro.props;
---

<details class="group border-b border-gray-200 pb-4">
    <summary class="flex justify-between items-center cursor-pointer list-none font-medium text-gray-900">
        {question}
        <span class="transition-transform group-open:rotate-180 font-bold">⌄</span>
    </summary>
    <p class="mt-4 text-sm text-gray-500 leading-relaxed">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Sequi quia odit libero debitis laborum esse facere porro veritatis in eum itaque possimus reiciendis maiores error, 
        quod sit voluptatibus ullam delectus.
    </p>
</details>