<section class="py-28 px-4">
    <div class="max-w-6xl mx-auto">
        <!-- Header -->
        <div class="text-center mb-16">
            <p class="text-xl tracking-widest text-gray-700 mb-3">DESTA FEATURES</p>
            <h2 class="text-3xl md:text-4xl font-bold mb-4">
                Berbagai Macam Makanan <br class="hidden sm:block">
                Tersedia disini
            </h2>
            <p class="text-gray-700 max-w-2xl mx-auto">
                Kamu bisa mencari makanan yang ingin kamu pesan disini dan ada berbagai macam
                makanan dari jajanan ringan maupun makanan berat
            </p>
        </div>

        <!-- Features Grid -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <!-- Feature 1(Large) -->
            <div class="md:col-span-2 h-48 md:h-56 rounded-2xl bg-gray-200">
                <img
                src="https://images.unsplash.com/photo-1749640566096-5d8098d452b4?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8TmFzaSUyMGF5YW18ZW58MHx8MHx8fDI%3D"
                alt="Nasi-Ayam"
                class="w-full h-full rounded-2xl object-cover"
                />
            </div>

            <!-- Feature 2(Small) -->
            <div class="h-48 md:h-56 rounded-2xl bg-gray-200">
                <img
                src="https://siopen.balangankab.go.id/storage/merchant/products/2024/06/25/29912cc6adfdb0d3803df7db342ecc53.jpg"
                alt="Jajan"
                class="w-full h-full rounded-2xl object-cover"
                />
            </div>

            <!-- Feature 3(Same shape) -->
            <div class="h-48 rounded-2xl bg-gray-200">
                <img
                src="https://images.unsplash.com/photo-1645066803665-d16a79a21566?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGF5YW0lMjBiYWthcnxlbnwwfHwwfHx8Mg%3D%3D"
                alt="Ayam-Sambal"
                class="w-full h-full rounded-2xl object-cover"
                />
            </div>
            <div class="h-48 rounded-2xl bg-gray-200">
                <img
                src="https://images.unsplash.com/photo-1644083130607-b5ecc6cc7e8e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8TWllJTIwYXlhbSUyMGNla2VyfGVufDB8fDB8fHwy"
                alt="Mie-Ayam-Ceker"
                class="w-full h-full rounded-2xl object-cover"
                />
            </div>
            <div class="h-48 rounded-2xl bg-gray-200">
                <img
                src="https://images.unsplash.com/photo-1687426287944-c27277283892?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGFodXxlbnwwfHwwfHx8Mg%3D%3D"
                alt="Tahu"
                class="w-full h-full rounded-2xl object-cover"
                />
            </div>
        </div>
    </div>
</section>