<section class="pt-40 pb-32 bg-linear-to-br from-pink-50 via-white to-white">
    <div class="max-w-7xl mx-auto px-6 text-center">
        <!-- Badge -->
        <div class="inline-flex items-center border border-gray-500 rounded-full mb-8">
            <span class="bg-pink-400 font-bold text-sm px-3 py-1 rounded-full">
                New
            </span>
            <span class="text-sm font-bold px-2">
                Effortless Transaction For Your Business
            </span>
        </div>

        <!-- Heading -->
        <h1 class="text-5xl md:text-6xl font-extrabold leading-tight">
            Your <span class="text-pink-300">All-In-One</span>
            <br>
            Business Solution
        </h1>

        <!-- Subheading/Description -->
        <p class="mt-6 text-gray-600 max-w-2xl mx-auto">
            Our solutions offer a comprehensive suite of features to help you manage your inventory,
            track sales, and enhance customer experience.
        </p>

        <!-- CTA Buttons -->
        <div class="mt-10 flex justify-center gap-9">
            <button class="bg-pink-400 text-white px-8 py-3 rounded-xl font-semibold hover:bg-pink-500 transition cursor-pointer">
                Get Started
            </button>
            <button class="border px-8 py-3 rounded-xl font-semibold hover:bg-gray-100 transition cursor-pointer">
                Book a Demo
            </button>
        </div>
    </div>
</section>