---
import { Image } from "astro:assets";
import WebLogo from "../../assets/WebLogo.png";
---

<header class="absolute top-0 left-0 w-full z-50 bg-linear-to-b from-pink-100 to-transparent">
    <div class="max-w-7xl mx-auto p-6 flex justify-between items-center">
        <!-- Logo -->
        <img src={WebLogo.src} alt="Logo" class="w-20 z-0">

        <!-- Navigation Links -->
        <nav class="hidden md:flex items-center gap-8 font-medium">
            <a href="../../" class="hover:text-pink-500">
                Home
                <!-- <span class="absolute -bottom-2 left-0 w-6 h-1 bg-pink-500 rounded-full"></span> -->
            </a>
            <a href="../../produk" class="hover:text-pink-500">Product</a>
            <a href="../../category" class="hover:text-pink-500">Category</a>
            <a href="../../contact" class="hover:text-pink-500">Contact Us</a>
        </nav>

        <!-- Login Button -->
        <a href="../../login" class="border rounded-xl px-6 py-2 hover:bg-gray-100 transition">
            Login
        </a>
    </div>
</header>