---
import { Image } from "astro:assets";
import PreviewDashboard from "../../assets/Dashboard_Preview2.png";
---

<section class="py-24 px-4 bg-linear-to-b from-transparent via-pink-100 to-transparent">
    <div class="max-w-6xl mx-auto text-center">
        <!-- Preview Image Section -->
        <div class="relative md:mx-24 lg:mx-48 border border-gray-100 bg-white overflow-hidden shadow-pink-400 mb-12">
            <!-- Preview Image -->
            <img class="w-full h-105 object-fill" src={PreviewDashboard.src} alt="Dashboard Preview">
            <!-- Bottom Gradient Overlay -->
            <div class="absolute bottom-0 left-0 right-0 h-32 bg-linear-to-t from-white to-transparent"></div>
        </div>

        <!-- Subtitle -->
        <p class="mb-8 text-gray-500">
            Relied upon by over a thousand companies globally
        </p>

        <!-- Company Logos -->
        <div class="mt-10 flex flex-wrap justify-center gap-10 text-gray-300 font-semibold">
            <span class="text-2xl">Company 1</span>
            <span class="text-2xl">Company 2</span>
            <span class="text-2xl">Company 3</span>
            <span class="text-2xl">Company 4</span>
        </div>
    </div>
</section>