---
import Dashboard from "../../layouts/Dashboard.astro";
---

<Dashboard>
    <div class="space-y-6">
        <section class="bg-white rounded-xl p-4 shadow-sm overflow-x-auto">
            <h2 class="font-semibold mb-4">Top Selling Products</h2>

            <table class="w-full text-sm">
                <thead class="text-gray-500 border-b">
                    <tr>
                        <th class="text-left py-2">Product Name</th>
                        <th class="text-left py-2">Price</th>
                        <th class="text-left py-2">Category</th>
                        <th class="text-left py-2">Quantity</th>
                        <th class="text-left py-2">Amount</th>
                        <th class="text-left py-2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {Array(5).fill(0).map(() => (
                        <tr class="border-b hover:bg-gray-200">
                            <td class="py-3">Good Food</td>
                            <td class="py-3">Rp.0</td>
                            <td class="py-3">Makanan</td>
                            <td class="py-3">0</td>
                            <td class="py-3"></td>
                            <td class="py-3">⋮</td>
                        </tr>
                    ))}
                </tbody>
            </table>
        </section>
    </div>
</Dashboard>